{
    "host": "datamanager",
    "hostname": "xent-datamanager.lngs.infn.it",
    "log_path": "/home/datamanager/logs/admix.log",
    "type": ["raw_records", "records", "peaks"],
    "norecords_types": ["lone_hits", "peak_basics", "pulse_counts", "peaklets", "merged_s2s", "peaklet_classification", "peaklet_classification_he", "veto_regions", "pulse_counts_he", "peaklets_he","led_calibration","hitlets_mv","hitlets_nv", "event_basics", "events", "peak_proximity", "peak_positions"],
    "raw_records_types": ["raw_records", "raw_records_he", "raw_records_aqmon", "raw_records_mv", "raw_records_aux_mv", "raw_records_nv", "raw_records_coin_nv", "raw_records_aqmon_nv", "lone_raw_records_nv", "lone_raw_record_statistics_nv"],
    "records_types": ["records","records_he", "records_nv", "records_mv"],
    "rses": ["LNGS_USERDISK","UC_OSG_USERDISK", "UC_DALI_USERDISK","CNAF_TAPE2_USERDISK","SURFSARA_USERDISK","NIKHEF2_USERDISK","CCIN2P3_USERDISK"],
    "upload_to": "LNGS_USERDISK",
    "path_rucio_data": "/archive/data/rucio",
    "path_data_to_upload": "/eb",
    "detector": ["tpc"],
    "source": [],
    "template":"/home/datamanager/software/admix/admix/config/xenonnt_template.config",
    "rucio_backend": "API",
    "rucio_account": "production",
    "rucio_x509": "/home/datamanager/.globus/x509up_own",
    "rucio_template": "/home/datamanager/software/admix/admix/config/xenonnt_format.config",
    "rucio_cli": "/home/datamanager/software/admix/admix/config/",
    "database": {"projection": {"_id": true,
                                   "name": true,
                                   "number": true,
                                   "data": true,
                                   "detector": true,
                                   "start":true
                    }
                },
    "sleep_time": 10,
    "upload_periodic_check": 300,
    "experiment": "XENONnT"
}
