{
    "host": "datamanager",
    "hostname": "xent-datamanager.lngs.infn.it",
    "log_path": "/home/datamanager/logs/admix.log",
    "raw_records_tpc_types": ["raw_records", "raw_records_he"],
    "raw_records_mv_types": ["raw_records_mv"],
    "raw_records_nv_types": ["raw_records_nv", "raw_records_coin_nv", "lone_raw_records_nv", "lone_raw_record_statistics_nv"],
    "light_raw_records_tpc_types": ["raw_records_aqmon"],
    "light_raw_records_mv_types": ["raw_records_aux_mv"],
    "light_raw_records_nv_types": ["raw_records_aqmon_nv"],
    "high_level_types": ["peak_basics", "peak_positions_mlp","lone_hits", "pulse_counts", "peaklets", "merged_s2s", "peaklet_classification", "peaklet_classification_he", "veto_regions", "pulse_counts_he", "peaklets_he","led_calibration","hitlets_mv","hitlets_nv", "event_basics", "events", "event_info",  "peak_proximity", "peak_positions", "peak_positions_cnn", "peak_positions_gcn", "events_mv", "events_nv", "afterpulses" ],
    "records_types": ["records","records_he", "records_nv", "records_mv"],
    "rses": ["LNGS_USERDISK","UC_OSG_USERDISK", "UC_DALI_USERDISK","CNAF_TAPE2_USERDISK","CNAF_USERDISK","SURFSARA_USERDISK","NIKHEF2_USERDISK","CCIN2P3_USERDISK"],
    "upload_to": "LNGS_USERDISK",
    "raw_records_tpc_rses": ["UC_OSG_USERDISK","SURFSARA_USERDISK"],
    "raw_records_mv_rses": ["UC_OSG_USERDISK","CNAF_USERDISK"],
    "raw_records_nv_rses": ["UC_OSG_USERDISK","CNAF_USERDISK"],
    "light_raw_records_tpc_rses": ["UC_DALI_USERDISK","SURFSARA_USERDISK"],
    "light_raw_records_mv_rses": ["UC_DALI_USERDISK","CNAF_USERDISK"],
    "light_raw_records_nv_rses": ["UC_DALI_USERDISK","CNAF_USERDISK"],
    "high_level_rses": ["UC_DALI_USERDISK"],
    "records_rses": ["UC_OSG_USERDISK","SURFSARA_USERDISK"],
    "path_rucio_data": "/archive/data/rucio",
    "path_data_to_upload": "/eb",
    "n_upload_threads_low": 6,
    "n_upload_threads_high": 4,
    "detector": ["tpc"],
    "source": [],
    "template":"/home/datamanager/software/admix/admix/config/xenonnt_template.config",
    "rucio_backend": "API",
    "rucio_account": "production",
    "rucio_x509": "/home/datamanager/.globus/x509up_own",
    "rucio_template": "/home/datamanager/software/admix/admix/config/xenonnt_format.config",
    "rucio_cli": "/home/datamanager/software/admix/admix/config/",
    "database": {"projection": {"_id": true,
                                   "name": true,
                                   "number": true,
                                   "data": true,
                                   "detector": true,
                                   "start":true
                    }
                },
    "sleep_time": 10,
    "path_datasets_to_fix": "/home/datamanager/datasets_to_fix",
    "experiment": "XENONnT"
}
