{
    "host": "datamanager",
    "hostname": "xent-datamanager.lngs.infn.it",
    "log_path": "/home/datamanager/logs/admix.log",
    "type": ["raw_records", "records", "peaks"],
    "rawtype": ["raw_records", "raw_records_he", "raw_records_aqmon", "raw_records_mv"],
    "path_data_to_upload": "/eb/ebdata",
    "detector": ["tpc"],
    "source": [],
    "template":"/home/datamanager/software/admix/admix/config/xenonnt_template.config",
    "rucio_backend": "API",
    "rucio_account": "production",
    "rucio_x509": "/home/datamanager/.globus/x509up_own",
    "rucio_template": "/home/datamanager/software/admix/admix/config/xenonnt_format.config",
    "rucio_cli": "/home/datamanager/software/admix/admix/config/",
    "database": {
                    "projection": {"_id": true,
                                   "name": true,
                                   "number": true,
                                   "data": true,
                                   "detector": true,
                                   "start":true
                    }
                },
    "sleep_time": 60,
    "upload_periodic_check": 300,
    "experiment": "XENONnT"
}
