{
    "host": "A short abbreviation of hostname to which individual database data locations refer",
    "hostname": "The hostname where aDMIX is executed",
    "log_path": "/path/to/your/logfile.log",
    "type": [], #["datatype1", "datatype2", ..., "datatypeN"], A list of individual data types you like to handle in your experiment
    "detector": [], #["tpc", "mv"], Specify detector names. NOT YET SUPPORTED
    "source": [], #["ambe", "none"], Specify a certain sources. Select data by sources. NOT YET SUPPORTED
    "template":"/path/to/your/datatype/template/xenon1t_template.config",
    "rucio_backend": "API", # Allow API or CLI, depending what configuration you prefer. CLI is legacy
    "rucio_account": "YOUR RUCIO ACCOUNT",
    "rucio_x509": "/path/to/x509/proxy/ticket",
    "rucio_template": "/path/to/Rucio/datatype/template/format.config",
    "rucio_cli": "/path/to/Rucio/CLI/calls/rucio_cli/",
    "database": {
                    "type":"MongoDB",
                    "address": "mongodb://address of your mongoDB (r/w requiered)",
                    "user": "mongodb_user",
                    "password": "mongdb_password",
                    "collection": "xenon1t-runs",
                    "projection": {"_id": true,
                                   "name": true,
                                   "number": true,
                                   "data": true,
                                   "detector": true,
                                   "start":true
                    }
                },
    "sleep_time": 5,
    "experiment": "Xenon1T"
}