{
    "host": "dali",
    "hostname": "dali-login1.rcc.local",
    "log_path": "/home/bauermeister/admix_exp.log",
    "type": ["raw", "records", "raw_records"],
    "detector": ["tpc", "mv"],
    "source": ["ambe", "none"],
    "template":"/home/bauermeister/Development/admix/admix/config/xenon1t_template.config",
    "rucio_account": "production",
    "rucio_x509": "/home/bauermeister/proxy_xenon/x509up_own",
    "rucio_template": "/home/bauermeister/Development/admix/admix/config/xenon1t_format.config",
    "rucio_cli": "/home/bauermeister/Development/admix/admix/config/rucio_cli/",
    "database": {
                    "type":"MongoDB",
                    "address": "YOURADDRESS",
                    "password": "None",
                    "collection": "xenon1t-runs",
                    "projection": {"_id": true,
                                   "name": true,
                                   "number": true,
                                   "data": true,
                                   "detector": true}
                },
    "sleep_time": 5,
    "task": "upload_by_call",
    "experiment": "Xenon1T"
}
