{
    "host": "midway2",
    "hostname": "midway2-login1.rcc.local",
    "log_path": "/home/bauermeister/admix_exp.log",
    "type": ["raw"],
    "detector": ["tpc", "mv"],
    "rucio_account": "production",
    "rucio_x509": "/home/bauermeister/proxy_xenon/x509up_own",
    "rucio_cli": "/home/bauermeister/Development/admix/admix/config/",
    "database": {
                    "type":"RestAPI",
                    "address": "http://xenon-runsdb-dev.grid.uchicago.edu:5000/",
                    "token": "None"
                },
    "sleep_time": 5,
    "task": "rule-updater-1t, tester",
    "experiment": "Xenon1T"
}