{
    "host": "midway2",
    "hostname": "midway2-login1.rcc.local",
    "log_path": '/home/bauermeister/admix.log",
    "task": "rule-updater-1t",
    "experiment": "Xenon1T",
    "type": "raw",
    "detector": "tpc, mv",
    "destination": "rucio-catalogue",
    "rucio_account": "<rucio account",
    "rucio_x509": "<your path>"
}