{
    "login":"""#Source Python2.7 and rucio
module load python/2.7
source /cvmfs/xenon.opensciencegrid.org/software/rucio-py27/setup_rucio_1_8_3.sh

#Configure the rucio environment
export RUCIO_HOME=/cvmfs/xenon.opensciencegrid.org/software/rucio-py27/1.8.3/rucio
export RUCIO_ACCOUNT={rucio_account}

#Set location of the proxy:
export X509_USER_PROXY={x509_user_proxy}
""",
    "xe1t-datamanager":"
export PATH=/home/xe1ttransfer/.local/bin:$PATH
export RUCIO_HOME=~/.local/rucio
export RUCIO_ACCOUNT={rucio_account}

#Set location of the proxy:
export X509_USER_PROXY={x509_user_proxy}   
",
    "midway-login1":"
source /cvmfs/xenon.opensciencegrid.org/software/rucio-py26/setup_rucio_1_8_3.sh
export RUCIO_HOME=/cvmfs/xenon.opensciencegrid.org/software/rucio-py26/1.8.3/rucio/
export RUCIO_ACCOUNT={rucio_account}
export X509_USER_PROXY={x509_user_proxy}
",
    "midway2-login1":"
source /cvmfs/xenon.opensciencegrid.org/software/rucio-py27/setup_rucio_1_8_3.sh
export RUCIO_HOME=/cvmfs/xenon.opensciencegrid.org/software/rucio-py27/1.8.3/rucio/
source /cvmfs/oasis.opensciencegrid.org/osg-software/osg-wn-client/3.3/current/el7-x86_64/setup.sh
export RUCIO_ACCOUNT={rucio_account}
export X509_USER_PROXY={x509_user_proxy}",

}