
{
    'raw'        :'Cxnt:{date}_{time}|->|Cxnt_{date}_{time}:{detector}|->|Dxnt_{date}_{time}_{detector}:raw',
    'reduced_raw':'Cxnt:{date}_{time}|->|Cxnt_{date}_{time}:{detector}|->|Dxnt_{date}_{time}_{detector}:reduced_raw_pax{paxversion}',
    'processed'  :'Cxnt:{date}_{time}|->|Cxnt_{date}_{time}:{detector}|->|Dxnt_{date}_{time}_{detector}:processed',
    'mc'         :'Cxnt:{date}_{time}|->|Cxnt_{date}_{time}:{detector}|->|Dxnt_{date}_{time}_{detector}:mc',
}