{
    "raw_records":{
        "login":"{abs_path}/{number}-{plugin}-{hash}",
        "login_gsiftp":"{abs_path}/xnt_{number}/{hash0}/{hash1}/raw_records-{hash}",
        "midway":"{abs_path}/{number}-{plugin}-{hash}",
        "dali":"{abs_path}/{number}-{plugin}-{hash}",
        "xe1t-datamanager":"{abs_path}/{number}-{plugin}-{hash}",
        "eb1":"{abs_path}/{number}-{plugin}-{hash}"
    },
    "records": {
        "login": "{abs_path}/{number}-{plugin}-{hash}",
        "midway": "{abs_path}/{number}-{plugin}-{hash}",
        "dali": "{abs_path}/{number}-{plugin}-{hash}",
        "xe1t-datamanager": "{abs_path}/{number}-{plugin}-{hash}",
        "eb1":"{abs_path}/{number}-{plugin}-{hash}"
    },
    "peaks": {
        "login": "{abs_path}/{number}-{plugin}-{hash}",
        "midway": "{abs_path}/{number}-{plugin}-{hash}",
        "dali": "{abs_path}/{number}-{plugin}-{hash}",
        "xe1t-datamanager": "{abs_path}/{number}-{plugin}-{hash}",
        "eb1":"{abs_path}/{number}-{plugin}-{hash}"
    },
    "peaks_basics": {
        "login": "{abs_path}/{number}-{plugin}-{hash}",
        "midway": "{abs_path}/{number}-{plugin}-{hash}",
        "dali": "{abs_path}/{number}-{plugin}-{hash}",
        "xe1t-datamanager": "{abs_path}/{number}-{plugin}-{hash}",
        "eb1":"{abs_path}/{number}-{plugin}-{hash}"
    }
}
