{
    "raw":{
            "login":"{abs_path}/{date}_{time}",
            "midway":"{abs_path}/{date}_{time}",
            "dali":"{abs_path}/{date}_{time}",
            "xe1t-datamanager":"{abs_path}/{date}_{time}"
    },
    "processed":{
            "login":"{abs_path}/{processer_version}/{date}_{time}.root",
            "midway":"{abs_path}/{processer_version}/{date}_{time}.root",
            "dali":"{abs_path}/{processer_version}/{date}_{time}.root",
            "xe1t-datamanager":"{abs_path}/{processer_version}/{date}_{time}.root"
    },
    "raw_records":{
            "login":"{abs_path}/{date}_{time}-{plugin}-{hash}",
            "midway":"{abs_path}/{date}_{time}-{plugin}-{hash}",
            "dali":"{abs_path}/{date}_{time}-{plugin}-{hash}",
            "xe1t-datamanager":"{abs_path}/{date}_{time}-{plugin}-{hash}",
            "rucio-catalogue": "$exclude"
    },
    "records":{
            "login":"{abs_path}/{date}_{time}-{plugin}-{hash}",
            "midway":"{abs_path}/{date}_{time}-{plugin}-{hash}",
            "dali":"{abs_path}/{date}_{time}-{plugin}-{hash}",
            "xe1t-datamanager":"{abs_path}/{date}_{time}-{plugin}-{hash}"
    }
}