{
    "raw_records":"$Cxnt:run_{number}|->|$Cxnt_{number}:data|->|$Dxnt_{number}:raw_records-{hash}",
    "records":"$Cxnt:run_{number}|->|$Cxnt_{number}:data|->|$Dxnt_{number}:records-{hash}",
    "peaks":"$Cxnt:run_{number}|->|$Cxnt_{number}:data|->|$Dxnt_{number}:peaks-{hash}",
    "raw_records_lowgain":"$Cxnt:run_{number}|->|$Cxnt_{number}:data|->|$Dxnt_{number}:raw_records_lowgain-{hash}",
    "raw_records_aqmon":"$Cxnt:run_{number}|->|$Cxnt_{number}:data|->|$Dxnt_{number}:raw_records_aqmon-{hash}",
    "raw_records_mv":"$Cxnt:run_{number}|->|$Cxnt_{number}:data|->|$Dxnt_{number}:raw_records_mv-{hash}"
}
